@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
* {
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  
}

main {
  background-color: hsl(210, 46%, 95%)

}

.header {
  font-weight: bold;
  font-size: 1.4rem;
}
.body-text {
  font-size: 13px;
  color:hsl(217, 19%, 35%)
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Manrope', sans-serif;
}
.content {
  height: 17rem;
  width: 50rem;
  display: flex;
  background-color: white;
  border-radius: 15px;;
}


.image-drawers {
  height: 17rem;
  width:100%;
  border-radius: 15px 0px 0px 15px;

}

.right-container {
  margin: 5%;
}

.profile {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius:50%;
  height:50px;
  padding-right:5%;

}
.name{
  margin: 0%;
  font-size: 1rem;
  font-weight: 500;
}
.date{
  font-size: .8rem;
  color: hsl(212, 23%, 69%)
}
.icon-share {
  height:25px;
}
.profile-info{
  display:block;
  margin-right: auto;
}
.icon-container {
  border-radius: 50px;
  padding:8px;
  background-color: rgb(243, 243, 243);
  height: 45px;
  border: none;
}
.icon-container:hover {
  background-color: rgb(243, 243, 243);
  color:white;
}


.popup-modal {
  display: none;
  position: fixed;
  z-index: 1;
  right:210px;
  top:450px;
  width: 300px;
  height:50px;
}

.modalContent {
  background-color:hsl(217, 19%, 35%);
  padding:5px;
  border: 1px solid #888;
  color:white;
  border-radius: 10px;
  display: flex;
  font-family: 'Manrope', sans-serif;
  font-weight: 100;
  justify-content: center;
  align-items: center;

}

.modalContent:after {
  content: '';
  position: absolute;
  bottom: -18%;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: hsl(217, 19%, 35%);
  border-bottom: 0;
  margin-left: -20px;
  margin-bottom: -20px;
}
.sharetxt{
  font-family: 'Manrope', sans-serif;
  color:hsl(218, 9%, 65%);
  margin-left: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: auto;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 600px) {

  .container {
    height:800px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
  }
  .content {
    height:600px;
    width: 50rem;
    display: flex;
    background-color: white;
    border-radius: 15px;;
  }
  .image-drawers {
    height: 17rem;
    width:100%;
    border-radius: 15px 15px 0px 0px;
  
  }
  .right-container{
    width:auto;
  }
  
.popup-modal {
  display: none;
  z-index: 1;
  right:0px;
  top:540px;
  width:100%;
  height:15%;
}

.modalContent {
  background-color:hsl(217, 19%, 35%);  margin: 10% auto;
  padding: 8px;
  border: 1px solid #888;
  width:auto;
  height:100%;
  color:white;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  margin-right: 3%;
  margin-left: 3%;

}
.modalContent:after {
display: none;
}


.close {
  color: #aaa;
  font-size: 30px;
  font-weight: bold;
  margin-left: auto;
  margin-bottom: auto;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  
}